.principal{
    font-family: "Press Start 2P", serif;
    font-weight: 400;
    font-style: normal;
     /* Con esto s ehace la imagen del fondo */
     background-image: url(../img/kanto-map.jpeg);
     /*  */
     background-position: center center;
     /*  */
     background-repeat: no-repeat;
     /*  */
     background-size: cover;
     /*  */
     background-attachment: fixed;
 }
/* Para poder meter el titulo en el centro y meterle color a la letra */
.pokedex {
    text-align: center;
    color: white;
    padding: 10px 80px 10px 10px;
    border-radius: 10px;
    width: 10%;
    margin-left: 40%;
    background: rgba(5,7, 12, 0.50);
}
/* Aqui para meterle color blanco a la "lista" */
.titulo1 {
    text-align: center;
    color:rgb(240, 109, 39)
}
.fuego {
    background-color: rgb(240, 109, 39);
    border-radius: 5px;
    width: 6%;
    padding: 5px 10px;
}
.inicio {
    text-align: center;
    color: white;
    padding: 10px 1% 10px 10px;
    border-radius: 10px;
    width: 9%;
    margin-left: 43%;
    background: red;
}
.cindaquil
{
    font-family: "Press Start 2P", serif;
    font-weight: 400;
    font-style: normal;
    background-image: url(../pokemons/cindaquil/fondo.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.normal {
    width: 200px;
    height: 200px;
    margin-right: 50px; /* Añade 50px de margen a la derecha */
    margin-left: 5%;  /* Añade 25px de margen a la izquierda  */
}
.evolucion1 {
    width: 350px;
    height: 300px;
    margin-left: 250px; /* Añade 25px de margen a la izquierda */
    margin-right: 180px; /* Añade 25px de margen a la derecha */
}
.evolucion2 {
    width: 350px;
    height: 300px;
}
.casillatexto{
    width: 1435px; /* Ancho del cuadro */
    height: 220px; /* Altura del cuadro */
    background-color:rgb(250, 237, 118); /* Azul oscuro */
    border: 8px solid rgb(240, 109, 39); /* Borde amarillo */
    border-radius: 15px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5); /* Sombra */
    position: relative;
    margin-left: 2%;
}
.ladotexto,.texto {
    display: flex;
    align-items: center;
    position: relative;
    margin-left: 1%;
}
.lista {
    color: black;
}
a{ 
    color: aliceblue;
    text-decoration: none;
}
.titulo2 {
    text-align: center;
    color:rgb(143, 39, 240)
}
.gengar{
    font-family: "Press Start 2P", serif;
    font-weight: 400;
    font-style: normal;
    background-image: url(../pokemons/gengar/fondo2.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.fantasma {
    background-color: rgb(156, 117, 185);
    border-radius: 5px;
    width: 9%;
    padding: 5px 10px;
    margin-right: 1%;
}
.veneno {
    background-color: rgb(204, 153, 255);
    border-radius: 5px;
    width: 7%;
    padding: 5px 10px;
}
.casillatexto1{
    width: 1435px; /* Ancho del cuadro */
    height: 220px; /* Altura del cuadro */
    background-color:rgb(219, 184, 255); /* Azul oscuro */
    border: 8px solid rgb(140, 0, 248); /* Borde amarillo */
    border-radius: 15px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5); /* Sombra */
    position: relative;
    margin-left: 2%;
}
.titulo3 {
    text-align: center;
    color:rgb(255, 51, 153)
}
.mew {
    font-family: "Press Start 2P", serif;
    font-weight: 400;
    font-style: normal;
    background-image: url(../pokemons/mew/fondo.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.casillatexto2 {
    width: 1435px; /* Ancho del cuadro */
    height: 220px; /* Altura del cuadro */
    background-color:rgb(255, 162, 213); /* Azul oscuro */
    border: 8px solid rgb(255, 0, 162); /* Borde amarillo */
    border-radius: 15px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5); /* Sombra */
    position: relative;
    margin-left: 2%;
}
.psíquico {
    background-color: rgb(255, 51, 153);
    border-radius: 5px;
    width: 9%;
    padding: 5px 10px;
}
.normal1 {
    width: 250px;
    height: 250px;
    margin-right: 50px; /* Añade 50px de margen a la derecha */
    margin-left: 650px;  /* Añade 25px de margen a la izquierda  */
}
.rayquaza {
    font-family: "Press Start 2P", serif;
    font-weight: 400;
    font-style: normal;
    background-image: url(../pokemons/rayquaza/fondo.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.titulo4 {
    text-align: center;
    color:rgb(150, 200, 180)
}
.dragón {
    background: linear-gradient(to bottom, #6CB4EE 50%, #F08080 50%);
    border-radius: 5px;
    width: 7%;
    padding: 5px 10px;
    margin-right: 1%;
}
.volador {
    background: linear-gradient(to bottom, #87CEEB 50%, #D3D3D3 50%);
    border-radius: 5px;
    width: 8%;
    padding: 5px 10px;
}
.casillatexto3 {
    width: 1435px; /* Ancho del cuadro */
    height: 220px; /* Altura del cuadro */
    background-color:rgb(200, 230, 210); /* Azul oscuro */
    border: 8px solid rgb(82, 176, 138); /* Borde amarillo */
    border-radius: 15px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5); /* Sombra */
    position: relative;
    margin-left: 2%;
}